@using DataAccessLayer.ViewModels;
@model ChangePasswordViewModel;

<div class="modal-content">
    <div class="modal-header">
        <h5 class="modal-title" id="modal-header">Change Password</h5>
        <button type="button" class="btn-close userdetail-confirmation-modal-close" data-bs-dismiss="modal"
            aria-label="Close"></button>
    </div>
    <form id="change-password-form">
        <div class="modal-body ">
            <div class="col-12 mt-3">
                <div class="form-floating mb-4 position-relative">
                    <input asp-for="OldPassword" type="password" class="form-control border border-dark w-100 "
                        id="old-changepassword" placeholder="Current password*" />
                    <i class="fa-solid fa-eye-slash position-absolute translate-middle-y fs-4 me-3 password-icon-class"
                        onclick="toggle_fnction('togglePassword','old-changepassword')" id="togglePassword"></i>
                    @* <i class="bi bi-eye-slash-fill position-absolute translate-middle-y fs-4 me-3"
                        onclick="toggle_fnction('togglePassword','old-changepassword')" id="togglePassword"
                        style="top:22px; right:0px"></i> *@
                    <label for="old-changepassword" class="form-floating text-dark ">Current password*</label>
                    <span asp-validation-for="OldPassword"
                        class="d-flex justify-content-start  text-danger ms-1"></span>
                </div>
            </div>
            <div class="col-12 mt-3">
                <div class="form-floating mb-4 position-relative">
                    <input asp-for="Password" type="password" class="form-control border border-dark w-100 "
                        id="new-changepassword" placeholder="New password*" />
                    <i class="fa-solid fa-eye-slash position-absolute translate-middle-y fs-4 me-3 password-icon-class"
                        onclick="toggle_fnction('togglePassword2','new-changepassword')" id="togglePassword2"></i>
                    @* <i class="bi bi-eye-slash-fill position-absolute translate-middle-y fs-4 me-3"
                        onclick="toggle_fnction('togglePassword2','new-changepassword')" id="togglePassword2"
                        style="top:22px; right:0px"></i> *@
                    <label for="new-changepassword" class="form-floating text-dark ">New password*</label>
                    <span asp-validation-for="Password" class="d-flex justify-content-start  text-danger ms-1"></span>
                </div>
            </div>
            <div class="col-12 mt-3">
                <div class="form-floating mb-4 position-relative">
                    <input asp-for="ConfirmPassword" type="password" class="form-control border border-dark w-100 "
                        id="confirm-changepassword" placeholder="Password*" />
                    <i class="fa-solid fa-eye-slash position-absolute translate-middle-y fs-4 me-3 password-icon-class"
                        onclick="toggle_fnction('togglePassword3','confirm-changepassword')" id="togglePassword3"></i>
                    @* <i class="bi bi-eye-slash-fill position-absolute translate-middle-y fs-4 me-3"
                        onclick="toggle_fnction('togglePassword3','confirm-changepassword')" id="togglePassword3"
                        style="top:22px; right:0px"></i> *@
                    <label for="confirm-changepassword" class="form-floating text-dark ">Confirm password*</label>
                    <span asp-validation-for="ConfirmPassword"
                        class="d-flex justify-content-start  text-danger ms-1"></span>
                </div>
            </div>
        </div>
        <div class="modal-footer d-flex justify-content-center">
            <button type="submit" class="btn btn-primary">Update</button>
            <button type="button" class="btn btn-outline-primary" data-bs-dismiss="modal">Cancel</button>
        </div>
    </form>
</div>

<partial name="_ValidationScriptsPartial" />
<partial name="_Toaster" />