@using DataAccessLayer.ViewModels;
@model LoginViewModel;

@{
    ViewData["Title"] = "Forgot password";
}

<h2><b>Forgot Password</b></h2>
<form id="forgotpassword-form-id" class="forgot-password-form">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

    <div class="form-floating mb-4 position-relative">
        <input asp-for="Email" type="email" id="email-forgotpassword" class="form-control border border-dark w-100 h-100"
            placeholder="Email*" required />
        <i class="fa-solid fa-envelope position-absolute translate-middle-y fs-4 me-3 email-icon-class" ></i>
        <label for="email" class="form-floating text-dark ">Email*</label>
        <span asp-validation-for="Email" class="d-flex justify-content-start text-danger "></span>
    </div>

    <div class="d-grid">
        <input type="submit" value="Send Email" class="login-btn btn btn-primary fs-5  pt-2 pb-2 w-100 "  />
        <a class="text-color cursor-pointer fs-5 ms-3 me-1 mt-2 d-flex justify-content-center" onclick="flipToLogin()" style="text-decoration: none;">Back to Login</a>
    </div>
</form>


<partial name="_ValidationScriptsPartial" />
<partial name="_Toaster" />