@using DataAccessLayer.ViewModels
@model ResetPasswordViewModel;
@{
    Layout = "~/Views/Shared/_PageLayout.cshtml";
    ViewData["Title"] = "Reset Password";
}



    <div class="front">
        <div class="front-left"></div>
        <div class="front-right">
            <div class="login-card1">

                <h2><b>Reset password</b></h2>
                <form asp-for="ResetPassword" asp-controller="Login" id="login-form-id" class="login-form">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input asp-for="Email" type="hidden" id="email" />

                    <div class="form-floating mb-4 position-relative">
                        <input asp-for="Password" type="password" id="password"
                            class="form-control border border-dark w-100 h-100" placeholder="Password*" required />
                        <i class="bi bi-eye-slash-fill position-absolute translate-middle-y fs-4 me-3"
                            onclick="toggle_fnction('togglePassword','password')" id="togglePassword"
                            style="top: 22px; right: 0px;"></i>
                        <label for="password" class="form-floating text-dark  text-left">Password*</label>
                        <span asp-validation-for="Password" class="d-flex justify-content-start text-danger "
                            id="passwordValidationMessage"></span>
                    </div>

                    <div class="form-floating mb-4 position-relative">
                        <input asp-for="ConfirmPassword" type="password" id="confirmPassword"
                            class="form-control border border-dark w-100 h-100" placeholder="Confirm Password*"
                            required />
                        <i class="bi bi-eye-slash-fill position-absolute translate-middle-y fs-4 me-3"
                            onclick="toggle_fnction('togglePassword1','confirmPassword')" id="togglePassword1"
                            style="top: 22px; right: 0px;"></i>
                        <label for="confirmPassword" class="form-floating text-dark  text-left">Confirm
                            Password*</label>
                        <span asp-validation-for="ConfirmPassword" class="d-flex justify-content-start text-danger "
                            id="confirmPasswordValidationMessage"></span>
                    </div>

                    <div class="d-grid">
                        <input value="Reset password" class="login-btn btn btn-primary fs-5  pt-2 pb-2 w-100 "
                            type="submit" />
                    </div>

                </form>

            </div>


        </div>
    </div>



@section Scripts {
    <script>
        

    </script>

    <partial name="_ValidationScriptsPartial" />
    <partial name="_Toaster" />
}